.player-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 200px;
  max-width: 200px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: 500;
}

.player-name {
  font-size: 20px;
  max-height: 30px;
}
